<!-- Inline styles because serving from server -->
<div id="error-page" style="height: 100%; padding: 8px 5%; overflow-y: scroll; @media screen and ($mobile) { padding: 8px 0; }">
	<div class="wrapper" style="padding: 58px 0; text-align: center;">
		<h3 style="margin-top: 10%;">404 Not Found</h3>
		<div class="message404" 
				 style="padding: 58px 0; text-align: center; display: inline-block;
								background: #D33F49; margin: 8px auto; padding: 70px;">
			 <p style="color: #FFFFFF;">The princess is in another castle! 🏰 Click <a href="/D">here</a> to head back to the dashboard!</p> 
		</div>
	</div>
</div>