answer {
  label {
    font-weight: 700;
  }
  textarea {
    width: 100%;
    min-height: get-vw(210px);
    margin-bottom: get-vw(20px);
    resize: none;
    padding: get-vw(10px);
    background: white;
    color: $primary-color;
    border: none;
    border-bottom: 6px $accent-color solid;
    border-radius: 0;
    outline: none;
    &.warn {
      border-bottom: 6px $warn-color solid;
    }
    &.success {
      border-bottom: 6px $success-color solid;
    }
  }
  button {
    margin: 0;
  }
  .warning {
    color: $warn-color;
    span {
      font-weight: 700;
    }
  }
  .live-preview {
    margin-bottom: get-vw(20px);
  }
}
