board {
  height: 100%;
  background: $tertiary-color;
}

.boards {
  display: flex;
  height: 100%;
  .board {
    width: get-vw(199px);
    padding: get-vw(8px) get-vw(5px);
    transition: all .1s ease-in-out;
    &.new {
      color: white;
      font-weight: 200;
      p {
        padding: get-vw(10px);
        background: $accent-color;
      }
    }
    &.ghost {
      opacity: 0;
    }
    &.chosen {
      transform: scale(1.1) rotate(-3deg);
    }
    h6 {
      padding: get-vw(2px) get-vw(5px) 0;
      color: $primary-color;
      background: $support-color;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      color: white;
    }
  }
  textarea, input {
    margin: 0;
  }
}

.cards {
  padding: get-vw(5px);
  background: $support-color;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  .card {
    margin: get-vw(5px) 0;
    padding: get-vw(10px);
    background: white;
    border-radius: 4px;
    &.new {
      background: darken($support-color, 21%);
      color: white;
      font-weight: 200;
    }
    &.ghost {
      opacity: 0;
    }
    &.chosen {
      transform: scale(1.1) rotate(-3deg);
    }
    img {
      max-width: 100%;
    }
  }
}
