comments {
  .comments {
    padding: 8px 24px;
    .markdown-body {
      width: 80%;
      margin: 8px 0;
      padding: 16px 0;
      border-bottom: 2px solid $support-color;
    }
    owner {
      padding: 0 8px;
      align-self: flex-end;
      img {
        width: 50px;
        height: 50px;
        border-radius: 0;
      }
    }
  }
  .comment {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    .edit {
      width: 100%;
      color: $accent-color;
      cursor: pointer;
    }
  }
  form {
    padding: 8px 36px;
    label {
      font-weight: 700;
    }
    textarea {
      width: 100%;
      min-height: get-vh(90px);
      margin-bottom: get-vw(20px);
      resize: none;
      padding: get-vw(10px);
      background: white;
      color: $primary-color;
      border: none;
      border-bottom: 6px $accent-color solid;
      border-radius: 0;
      outline: none;
      &.warn {
        border-bottom: 6px $warn-color solid;
      }
      &.success {
        border-bottom: 6px $success-color solid;
      }
    }
    button {
      margin: 0;
    }
    .warning {
      color: $warn-color;
      span {
        font-weight: 700;
      }
    }
    .live-preview {
      margin-bottom: get-vw(20px);
    }
  }
}
