.creation {
  padding: 0 32px;
  label, input {
    display: block;
    margin: 8px 0;
  }
  label {
    font-weight: 700;
  }
  input, textarea {
    width: 100%;
    padding: 8px;
    background: white;
    color: $primary-color;
    border: none;
    border-bottom: 6px $accent-color solid;
    border-radius: 0;
    outline: none;
    &.warn {
      border-bottom: 6px $warn-color solid;
    }
    &.success {
      border-bottom: 6px $success-color solid;
    }
  }
  textarea {
    height: 25vh;
    resize: none;
  }
  button {
    margin: 8px 0;
  }
  .submit {
    display: flex;
  }
  .warning {
    color: $warn-color;
    span {
      font-weight: 700;
    }
  }
  .live-preview {
    margin: get-vw(10px) 0;
  }
}
