.container {
  display: flex;
  height: 100%;
  padding-top: get-vh(85px);
  transition: all .01s ease-in-out;
  start-page, profile-page, team-page, learning-page,
  building-page, create-page, settings-page {
    width: 100%;
    min-width: 80%;
    height: 100%;
    overflow-x: hidden;
    transform: translateX(0);
    @media screen and ($tablet) {
      width: 100%;
      min-width: 80%
    }
  }
}

.tray {
  height: 100%;
  padding-top: get-vh(85px);
  transform: translateX(60%);
  transition: all .4s ease-in-out;
  .status-container {
    width:100%;
    padding-top: get-vh(75px);
  }
}
