direct-messenger {
  position: absolute;
  bottom: 0;
  right: 0;
  @media screen and ($mobile) {
    bottom: -46px;
  }
  .direct-messages {
    display: flex;
  }
}

direct-message {
  width: 21vw;
  margin-right: 8px;
  @media screen and ($tablet) {
    width: 29vw;
  }
  @media screen and ($mobile) {
    width: 100vw;
    margin: 0;
    padding-bottom: 47px;
  }
}

.direct-message {
  position: relative;
  width: 100%;
  height: get-vh(450px);
  background: white;
  box-sizing: border-box;
  transition: all .3s ease-in-out;
  z-index: 2000;
  @media screen and ($mobile) {
    height: 85vh;
  }
  .tool-bar {
    display: flex;
    width: 100%;
    height: 10%;
    padding: 0 8px;
    background: $primary-color;
    a, figure {
      margin: 0 16px 0 0;
      align-self: center;
    }
    figure {
      color: $warn-color;
      line-height: 1;
      font-size: 20px;
      cursor: pointer;
    }
  }
  .messages {
    position: relative;
    width: 100%;
    height: 65%;
    padding: 16px 0;
    overflow-x: hidden;
    overflow-y: scroll;
    .tool {
      width: get-vw(15px);
      height: get-vw(15px);
    }
  }
  .dm {
    position: relative;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    &:hover message-tools {
      visibility: visible;
    }
  }
  .message-container {
    display: flex;
    .avatar {
      width: 54px;
      height: 54px;
      padding: 8px;
    }
    span {
      @include responsive-font(15px, 12px);
      font-weight: 200;
    }
    .edit-dm {
      input {
        width: 90%;
        padding: get-vw(5px);
        border-radius: 4px;
        border: 2px solid $accent-color;
        box-sizing: border-box;
        outline: none;
      }
    }
  }
  .user {
    position: relative;
    span {
      position: absolute;
      top: 90%;
      left: 100%;
      color: $success-color;
      font-size: 24px;
      font-weight: 700;
      transform: translate(-50%, -50%);
    }
  }
  .attachment {
    display: flex;
    flex-flow: row wrap;
    margin-top: 8px;
    padding-left: 8px;
    border-left: 2px solid $support-color;
    a {
      width: 100%;
      &:nth-child(2) {
        width: 20%;
        @media screen and ($mobile) {
          width: 40%;
        }
      }
    }
    h6 {
      color: $accent-color;
    }
    img {
      max-width: 100%;
      max-height: 100%;
    }
    p {
      width: 80%;
      padding: 8px;
      font-size: 13px;
      @media screen and ($mobile) {
        width: 60%;
      }
    }
  }
  .user-typing {
    position: absolute;
    bottom: calc(100% + 3px);
    width: 100%;
    background: $tertiary-color;
    em {
      color: $secondary-color;
      padding-left: 8px;
      &:after {
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
        animation: ellipsis steps(4,end) 900ms infinite;
        content: "\2026"; /* ascii code for the ellipsis character */
        width: 0px;
      }
    }
  }
  .send-dm {
    display: flex;
    position: relative;
    width: 100%;
    height: 25%;
    border-top: 3px solid $secondary-color;
    box-sizing: border-box;
    textarea {
      width: 80%;
      height: 100%;
      border: none;
      outline: none;
      resize: none;
      box-sizing: border-box;
      @media screen and ($tablet) {
        width: 80%;
      }
    }
    button {
      width: 20%;
      height: 100%;
      margin: 0;
      padding: 0;
      background: $tertiary-color;
      color: $primary-color;
      box-sizing: border-box;
      svg-icon, svg {
        width: 34px;
        height: 34px;
      }
    }
  }
  .err {
    color: $warn-color;
    cursor: pointer;
  }
}

.done {
  @include responsive-font(13px, 11px);
  text-align: center;
  font-weight: 200;
  color: lighten($support-color, 30%);
}

.minimized {
  transform: translateY(90%);
}

@keyframes alert {
  50% { background: $accent-color; }
}


@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}
