edit {
  .error p {
    color: $warn-color;
  }
  form {
    input, textarea {
      display: block;
      width: 100%;
      margin-bottom: 16px;
      resize: none;
      padding: 8px;
      background: $tertiary-color;
      color: $primary-color;
      border: none;
      border-bottom: 6px $accent-color solid;
      border-radius: 0;
      outline: none;
      &:focus {
        border: 3px $accent-color solid;
        box-shadow: 0 0 10px $accent-color;
      }
      &.warn {
        border-bottom: 6px $warn-color solid;
      }
      &.success {
        border-bottom: 6px $success-color solid;
      }
    }
  }
}
