message-tools {
  position: absolute;
  top: 10px;
  right: 5px;
  visibility: hidden;
  .tool {
    width: 36px;
    height: 36px;
    cursor: pointer;
  }
  svg-icon, svg {
    width: 100%;
    height: 100%;
    path {
      fill: $primary-color;
    }
  }
}

.group-messages {
  width: 100%;
  height: 100%;
  background: $tertiary-color;
  @media screen and ($mobile) {
    &.expanded {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 99999;
    }
  }
  .messages {
    position: relative;
    width: 100%;
    height: 85%;
    overflow-y: scroll;
    @media screen and ($mobile) {
      height: 75%;
    }
  }
  .gm {
    position: relative;
    width: 100%;
    padding: 8px;
    &:hover message-tools {
      visibility: visible;
    }
  }
  .message-container {
    display: flex;
    padding: 8px 24px;
    @media screen and ($mobile) {
      padding: 8px;
    }
    .message {
      max-width: 100%;
      padding: 0 8px;
      box-sizing: border-box;
      .username {
        font-weight: 700;
        color: $secondary-color;
      }
    }
    img {
      width: 44px;
      height: 44px;
    }
    span {
      @include responsive-font(13px, 12px);
      font-weight: 200;
    }
    .mention {
      color: $accent-color;
    }
    .edit-gm {
      input {
        width: 90%;
        padding: get-vw(5px);
        border-radius: 4px;
        border: 2px solid $accent-color;
        box-sizing: border-box;
        outline: none;
      }
    }
  }
  .user {
    position: relative;
    span {
      position: absolute;
      top: 90%;
      left: 10%;
      color: $success-color;
      font-weight: 700;
      transform: translate(-50%, -50%);
    }
  }
  .attachment {
    display: flex;
    flex-flow: row wrap;
    margin-top: 8px;
    padding-left: 8px;
    border-left: 5px solid $support-color;
    box-sizing: border-box;
    a {
      width: 100%;
      &:nth-child(2) {
        max-width: 20%;
      }
    }
    h6 {
      color: $accent-color;
    }
    img {
      width: 100%;
      height: 100%;
    }
    p {
      width: 80%;
      padding: 0 get-vw(10px);
      box-sizing: border-box;
    }
  }
  .user-typing {
    position: absolute;
    left: 85%;
    bottom: calc(100% + 3px);
    background: $tertiary-color;
    em {
      display: block;
      padding: 8px 0 0;
      color: $secondary-color;
      &:after {
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
        animation: ellipsis steps(4,end) 900ms infinite;
        content: "\2026"; /* ascii code for the ellipsis character */
        width: 0px;
      }
    }
  }
  .send-gm {
    display: flex;
    position: relative;
    width: 100%;
    height: 15%;
    padding: 8px;
    align-self: center;
    box-sizing: border-box;
    @media screen and ($mobile) {
      height: 25%;
    }
    upload, .loading-container {
      display: flex;
      width: 5%;
      height: 100%;
      input:before {
        content: '';
        width: 40px;
        height: 40px;
        align-self: center;
        background: url('/assets/icons/upload.svg') $primary-color no-repeat center/cover;
        transform: translateY(-50%);
      }
    }
    textarea {
      width: 85%;
      max-height: 100%;
      padding: 16px 24px;
      border: 3px solid $primary-color;
      outline: none;
      resize: none;
      @media screen and ($tablet) {
        width: 80%;
        padding: 8px;
      }
    }
    button {
      width: 10%;
      margin: 0;
      padding: 0;
      background: transparent;
      color: $primary-color;
      svg {
        padding: 8px;
      }
    }
  }
  .err {
    padding: 0 24px 16px;
    color: $warn-color;
    cursor: pointer;
  }
}

.done {
  @include responsive-font(13px, 11px);
  text-align: center;
  font-weight: 200;
  color: $secondary-color;
}
