nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: get-vh(85px);
  background: $primary-color;
  z-index: 1000;
  .logo {
    position: relative;
    width: 80px;
    height: 80px;
    align-self: center;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left:0;
    }
    svg-icon, svg {
      width: 100%;
      height: 100%;
      path {
        fill: $tertiary-color;
      }
    }
  }
}

.navigation {
  display: flex;
  li {
    align-items: flex-start;
    align-self: center;
    padding: 0 16px;
    box-sizing: border-box;
    overflow: hidden;
    @media screen and ($mobile) {
      padding: 0 8px;
    }
    a {
      display: flex;
      color: $tertiary-color;
      text-decoration: none;
      font-weight: 100;
      word-break: keep-all;
      text-overflow: ellipsis;
      overflow: hidden;
      &:hover {
        color: darken($support-color, 18%);
        path, circle, rect, polygon {
          fill: darken($support-color, 18%);
        }
      }
      &.active {
        transform: skew(-9deg);
      }
      svg-icon, svg {
        width: 16px;
        height: 16px;
        path, circle, rect, polygon {
          fill: $tertiary-color;
        }
      }
    }
  }
  @media screen and ($mobile) {
    justify-content: space-around;
  }
}

.search-bar {
  align-self: center;
  width: 40%;
  @media screen and ($mobile) {
    width: 0;
    margin: 0;
  }
  box-sizing: border-box;
  input[type=search] {
    display: block;
    width: 100%;
    padding: 8px;
    background: white;
    outline: none;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    &::placeholder {
      color: $support-color;
    }
    @media screen and ($mobile) {
      height: 46px;
      color: $tertiary-color;
      background: $accent-color;
      &::placeholder {
        color: $tertiary-color;
      }
    }
  }
}

.controls {
  display: flex;
  justify-content: space-around;
  // @TODO attach base style to SvgIconComponent
  svg-icon, svg {
    width: 100%;
    height: 100%;
    z-index: -1;
    path, circle, rect, polygon {
      fill: $tertiary-color;
    }
  }
  .user {
    position: relative;
    width: get-vh(65px);
    height: get-vh(65px);
    align-self: center;
    .rep {
      display: flex;
      position: absolute;
      bottom: 2px;
      left: 100%;
      padding: 0 8px;
      background: rgba($primary-color, 0.5);
      transform: rotate(-9deg) translateX(-50%);
      svg {
        width: 14px;
        height: 14px;
      }
      span {
        margin: 0 8px;
        font-size: 14px;
        color: $tertiary-color;
      }
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
    }
  }
  .idea, .more {
    padding: 8px;
    transform: scale(0.7);
    position: relative;
    display: block;
    width: get-vh(65px);
    height: get-vh(65px);
    margin: 0 8px;
    align-self: center;
    padding: 8px;
    @media screen and ($mobile) {
      padding: 2px;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left:0;
    }
  }
  .more {
    display: flex;
    position: relative;
    cursor: pointer;
    &:hover .menu {
      display: block;
    }
    .menu {
      display: none;
      position: absolute;
      width: 333px;
      top: 100%;
      right: 80%;
      background: $support-color;
      border-radius: 7px;
      z-index: 9999;
      svg-icon, svg {
        width: 40px;
        height: 40px;
      }
      p {
        padding: 0 8px;
        align-self: center;
        color: white;
      }
    }
  }
  .three-dots {
    align-self: center;
  }
  .dots {
    position: relative;
    width: 10px;
    height: 10px;
    background: $tertiary-color;
    border-radius: 100%;
    align-self: center;
    &:before {
      @extend .dots;
      content: '';
      position: absolute;
      top: 20px;
      left: 0;
    }
    &:after {
      @extend .dots;
      content: '';
      position: absolute;
      bottom: 20px;
      left: 0;
    }
  }
  .logout {
    display: flex;
    margin-left: 16px;
    padding: 16px;
    @media screen and ($mobile) {
      margin-left: 0;
    }
  }
}
