notifications {
  display: flex;
  margin: 0 8px;
  padding: 8px 0;
  align-self: center;
  @media screen and ($mobile) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 65%;
    margin: 0;
    background: $primary-color;
    justify-content: center;
  }
  request-notifications, mention-notifications, message-notifications {
    position: relative;
    cursor: pointer;
    align-self: center;
    @media screen and ($mobile) {
      position: static;
    }
    .notifications {
      position: relative;
      width: get-vh(32px);
      height: get-vh(32px);
      margin: 0 8px;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left:0;
      }
      @media screen and ($mobile) {
        width: 30px;
        height: 30px;
        margin: 0 16px;
      }
    }
    svg {
      width: 100%;
      height: 100%;
      path, circle, rect, polygon {
        fill: $support-color;
      }
      polyline {
        stroke: $support-color;
      }
    }
  }
  .count {
    display: flex;
    justify-content: center;
    position: absolute;
    top: -25%;
    right: -40%;
    background: $warn-color;
    border-radius: 4px;
    border: 2px solid $primary-color;
    z-index: 100;
    &[hidden] {
      display: none;
    }
    span {
      padding: 4px;
      align-self: center;
      color: white;
      font-size: 9px;
      line-height: 1;
    }
  }
  .dropdown {
    position: absolute;
    top: 137%;
    left: 50%;
    width: get-vw(250px);
    max-height: 85vh;
    padding: 8px;
    background: $support-color;
    border-radius: 2px;
    transform: translateX(-50%);
    z-index: 6001;
    overflow-y: scroll;
    @media screen and ($mobile) {
      top: auto;
      bottom: 100%;
      left: 0;
      width: 100vw;
      transform: translateX(0);
    }
    li {
      display: flex;
      padding: 0 8px;
      background: $tertiary-color;
      span {
        font-size: 11px;
        color: $support-color;
      }
    }
    img {
      width: 40px;
      height: 40px;
      margin: 0 8px 0 0;
      align-self: center;
    }
    a {
      align-self: center;
    }
    blockquote {
      margin: 0 0 8px;
      padding: 8px;
    }
    .view {
      p {
        color: $warn-color;
      }
      a {
        color: $accent-color;
      }
    }
  }
}
