o-auth {
  display: flex;
  justify-content: center;
  a {
    display: flex;
    justify-content: center;
    width: 45%;
    margin: 16px;
    padding: 8px 0;
    background: $support-color;
    @media screen and ($mobile) {
      padding: 8px 56px;
    }
  }
  span {
    margin-right: get-vw(10px);
    align-self: center;
  }
  img {
    align-self: center;
    width: 40px;
    height: 40px;
  }
}
