.owner {
  display: flex;
  margin: get-vw(10px) 0;
  .info {
    align-self: center;
    margin: 0 8px;
  }
  img {
    width: get-vw(60px);
    height: get-vw(60px);
    border-radius: 100%;
    border: 3px solid $support-color;
    &.active {
      border: 3px solid $success-color;
    }
    @media screen and ($mobile) {
      width: 60px;
      height: 60px;
      border: 2px solid $support-color;
      &.active {
        border: 2px solid $success-color;
      }
    }
  }
  span {
    color: $support-color;
    font-size: 12px;
  }
}
