present-users {
  padding: 8px;
  color: white;
  ul {
    display: flex;
    padding: 8px;
    flex-flow: row wrap;
  }
  li {
    display: flex;
    margin-right: get-vw(7px);
    padding: 0 0 8px 0;
    font-weight: 100;
  }
  img {
    width: 24px;
    height: 24px;
    margin-right: get-vw(7px);
    border-radius: 2px;
  }
  p {
    align-self: center;
    color: $tertiary-color;
  }
  span {
    color: $support-color;
    font-size: 11px;
    font-weight: 200;
  }
}
