.details {
  margin: 13vh 8px 0;
  @media screen and ($mobile) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
  }
  svg-icon, svg {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    path, circle, rect {
      fill: $primary-color;
    }
  }
  p {
    color: $primary-color;
  }
  .detail {
    margin: 32px 0;
    color: $primary-color;
    font-weight: 700;
    @media screen and ($mobile) {
      margin: 16px 0;
    }
    &:nth-child(2) {
      @media screen and ($mobile) {
        width: 100%;
      }
    }
    p:nth-child(2) {
      font-weight: 400;
    }
  }
  .label {
    display: flex;
    @media screen and ($mobile) {
      justify-content: center;
    }
    p {
      align-self: center;
    }
  }
}

.editor {
  width: 100%;
  padding: 10vh 0;
  label, p {
    color: $primary-color;
  }
  p {
    text-align: center;
  }
  input, label {
    display: block;
    margin: 16px auto;
  }
  input, textarea {
    box-sizing: border-box;
    background: white;
    color: $primary-color;
    border: none;
    border-bottom: 6px $accent-color solid;
    outline: none;
    box-sizing: border-box;
    &.warn {
      border-bottom: 6px $warn-color solid;
    }
    &.success {
      border-bottom: 6px $success-color solid;
    }
  }
  button {
    @extend .editing;
  }
}

.editing {
  display: flex;
  margin: 0;
  padding: 8px;
  background: none;
  justify-content: center;
  @media screen and ($mobile) {
    width: 100%;
    justify-content: center;
  }
  p {
    align-self: flex-end;
    color: $primary-color;
  }
  svg-icon, svg {
    width: 30px;
    height: 30px;
    margin-right: 8px;
  }
}
