reputation {
  display: flex;
  width: 100%;
  padding: 8px;
  flex-flow: column wrap;
  @media screen and ($mobile) {
    width: 20px;
  }
  div {
    width: 100%;
  }
  button {
    display: block;
    margin: 0 auto;
    padding: 8px;
    background: $support-color;
    box-sizing: border-box;
    &.up-voted {
      background: $success-color;
    }
    &.down-voted {
      background: $warn-color;
    }
    @media screen and ($tablet) {
      padding: 5px;
    }
  }
}

.reputation {
  display: flex;
  padding: 8px 0;
  color: white;
  text-align: center;
  justify-content: center;
  p {
    align-self: center;
    font-weight: 700;
  }
}
