requests {
  .requests, .remove {
    padding: 9vh 8px 0;
    .type, h6 {
      color: $secondary-color;
    }
    button {
      display: block;
      width: 100%;
    }
    .request-btn {
      padding: 8px;
    }
    .accept {
      background: $accent-color;
    }
    .decline {
      background: $warn-color;
    }
    .warning {
      color: $warn-color;
      margin: 0 0 get-vw(10px) 0;
      span {
        font-weight: 700;
      }
    }
  }
  .remove button {
    background: $warn-color;
  }
  .awaiting {
    padding: 8px;
    &:after {
      overflow: hidden;
      display: inline-block;
      vertical-align: bottom;
      animation: ellipsis steps(4,end) 900ms infinite;
      content: "\2026"; /* ascii code for the ellipsis character */
      width: 0px;
    }
  }
}

.toggles {
  display: flex;
  flex-flow: row-wrap;
}

.switch-container {
  position: relative;
  display: inline-block;
  margin-right: get-vw(10px);
  align-self: center;
  cursor: pointer;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
  }
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}
