search {
  @media screen and ($mobile) {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 35%;
    margin: 0;
    justify-content: center;
    transition: all 0.6s ease-in-out;
    z-index: 3000;
    &:hover {
      width: 100%;
    }
  }
}

.search-bar {
  position: relative;
  .magnify {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    svg {
      width: 20px;
      height: 20px;
      path {
        fill: $primary-color;
      }
    }
  }
  .elastic-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 90vh;
    background: white;
    overflow-y: scroll;
    @media screen and ($mobile) {
      top: auto;
      bottom: 100%;
    }
    .fetching {
      display: flex;
      height: get-vh(60px);
      justify-content: center;
      .loader {
        background: $primary-color;
        &:before, &:after {
          background: $primary-color;
        }
      }
      p {
        color: $support-color;
        align-self: flex-end;
      }
    }
    .title {
      color: $primary-color;
      font-weight: 700;
    }
  }
  .result {
    display: flex;
    width: 100%;
    padding: 0 16px;
    min-height: get-vh(80px);
    flex-flow: row wrap;
    overflow: hidden;
    .name {
      p {
        color: $accent-color;
      }
    }
    div {
      align-self: center;
    }
    a {
      display: flex;
      padding: 0 24px;
      cursor: pointer;
      align-self: center;
    }
    p {
      margin: 0;
      align-self: center;
      overflow: hidden;
    }
    img {
      width: 32px;
      height: 32px;
      margin: 0 16px 0 0;
    }
    .rep {
      display: flex;
      color: $primary-color;
      svg-icon {
        align-self: center;
      }
      svg-icon {
        width: 24px;
        height: 24px;
        svg {
          width: 100%;
          height: 100%;
          fill: $primary-color;
        }
      }
    }
    .info {
      width: 100%;
      color: $primary-color;
      align-self: center;
      img {
        display: none;
      }
    }
  }
  span {
    color: $support-color;
    font-size: 11px;
  }
}
