signup, login, register {
  align-self: center;
  @media screen and ($mobile) {
    transform: scale(0.8);
  }
  form {
    width: get-vw(400px);
    padding: 16px;
    background: rgba($primary-color, .9);
    @media screen and ($mobile) {
      width: 100%;
    }
    h1, h5, label, p, {
      color: white;
    }
    h1, h5, p {
      text-align: center;
    }
    .headline {
      margin: 8px;
    }
    .or {
      position: relative;
      &:before, &:after {
        content: '';
        position: absolute;
        top: 50%;
        width: 30%;
        height: 3px;
        background: white;
        transform: translateY(-50%);
      }
      &:before {
        left: 55%;
      }
      &:after {
        right: 55%;
      }
    }
    .tagline {
      margin-bottom: 24px;
    }
    input, label {
      display: block;
      width: 95%;
      margin: 8px auto 16px;
    }
    input {
      padding: 8px;
      background: white;
      color: $primary-color;
      border: none;
      border-bottom: 6px $accent-color solid;
      border-radius: 0;
      box-sizing: border-box;
      outline: none;
      &.warn {
        border-bottom: 6px $warn-color solid;
      }
      &.success {
        border-bottom: 6px $success-color solid;
      }
    }
    button {
      display: block;
      margin: 8px auto 0;
      background: $accent-color;
    }
  }
  .name-email {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    .name, .email {
      width: 50%;
      input {
        width: 90%;
      }
      //@media screen and ($mobile) {
        //width: 100%;
        //input {
          //width: 100%;
        //}
      //}
    }
  }
  .slack {
    display: flex;
    justify-content: center;
    toggle-switch {
      align-self: center;
    }
    p {
      align-self: center;
      margin-left: get-vw(15px);
      &.opted-out {
        text-decoration: line-through;
      }
    }
  }
}
