status-bar {
  height: 100%;
  background-color: $secondary-color;
  transform: translateX(0);
  transition: all .1s ease-in-out;
  z-index: 100;
  @media screen and ($mobile) {
    position: fixed;
    top: 0;
    left: 0;
    width: 60vw;
    padding-top: 8px;
    transform: translateX(-100%);
  }
  .status-container {
    width: 20vw;
    height: 100%;
    padding: 8px;
    overflow-y: scroll;
    &.collapsed {
      width: auto;
      max-width: 20vw;
    }
    .collapse {
      position: absolute;
      top: 0;
      left: 100%;
      padding: 1px;
      color: $accent-color;
      font-size: 22px;
      cursor: pointer;
    }
  }
  svg-icon {
    align-self: center;
  }
  svg {
    width: 24px;
    height: 24px;
    path {
      fill: $support-color;
    }
  }
  .rep {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    margin-left: 8px;
    p {
      color: $tertiary-color;
      font-weight: 100;
    }
  }
  h6,  h5, span {
    color: $support-color;
  }
  .term-handle {
    width: 100%;
    margin-top: 5px;
    background: $secondary-color;
    outline: none;
    color: $tertiary-color;
    border: none;
    border-bottom: 1px $support-color solid;
    transition: all 0.3s ease-in-out;
    &::placeholder {
      text-align: left;
      font-weight: 300;
      color: $support-color;
    }
  }
  .term-handle:focus {
    transform: translateY(2px);
  }
  span {
    font-size: 11px;
  }
  img {
    &.active {
      border: 3px solid $success-color;
    }
    &.inactive {
      border: 3px solid lighten($support-color, 28%);
    }
  }
  .teammate {
    display: flex;
    width: 100%;
    margin: 8px 0 0 0;
    padding: 8px 0 8px 5px;
    cursor: pointer;
    &:hover .info.collapsed {
      display: block;
    }
    img {
      width: 44px;
      height: 44px;
      background: $support-color;
      align-self: center;
      //@media screen and ($tablet) {
        //width: 50px;
        //height: 50px;
      //}
    }
    .info {
      align-self: center;
      padding-left: 8px;
      &.collapsed {
        display: none;
        left: 105%;
        padding: 8px;
        white-space: nowrap;
        background: $primary-color;
        border-radius: 7px;
         Commented out carret
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          width: 33px;
          height: 33px;
          z-index: -1;
          background: $primary-color;
          transform: rotate(45deg) translate(-50%, -50%);
        }
      }
      p {
        color: white;
        font-weight: 700;
      }
    }
    .last-seen {
      font-size: 11px;
      padding-top: 8px;
    }
  }
  .teammate:hover {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 2px;
  }
}

.instruction {
  margin: 8px 0;
  color: $tertiary-color;
}
