tabs {
  ul {
    display: flex;
    height: 100%;
    justify-content: flex-end;
  }
  a {
    display: block;
    margin: get-vw(10px);
    color: white;
    text-align: center;
    font-weight: 200;
    &:hover {
      color: white;
    }
    &.router-link-active {
      border-bottom: 2px solid white;
    }
  }
}
