.toggle-switch {
  position: relative; width: 59px;
  margin: 15px 0;
  transition: all .4s linear;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
  @media screen and ($mobile) {
    transform: scale(0.8);
  }
}

.toggle {
  display: none;
}

.switch {
  display: block; overflow: hidden; cursor: pointer;
  height: 18px; padding: 0; line-height: 18px;
  border: 0 solid white; border-radius: 26px;
  background-color: lighten($support-color, 19%);
  &:before {
    content: "";
    display: block; width: 26px; margin: -4px;
    background: lighten($support-color, 22%);
    position: absolute; top: 0; bottom: 0;
    right: 37px;
    border-radius: 26px;
  }
}

.toggle:checked + .switch, .toggle:checked + .switch:before {
  border-color: lighten($accent-color, 11%);
}

.toggle:checked {
  margin-left: 0;
}

.toggle:checked + .switch:before {
  right: 0px;
  background-color: $accent-color;
}
