upload {
  input {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 1px;
    height: 1px;
    outline: none;
    cursor: pointer;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      border: 5px solid  $primary-color;
      border-radius: 2px;
      box-sizing: border-box;
    }
  }
}
