activity {
  color: $primary-color;
}

.activity {
  display: flex;
  justify-content: space-around;
  .projects, .questions {
    width: 50%;
    padding: 8px;
    .question, .project {
      display: flex;
      padding-bottom: 8px;
    }
  }
  reputation {
    width: 15%;
    @media screen and ($mobile) {
      width: 20%;
    }
  }
  .project-body, .question-body {
    width: 85%;
    @media screen and ($mobile) {
      width: 80%;
    }
  }
  .guide {
    width: 45%;
    margin: 32px 0;
    padding: 48px;
    background: $warn-color;
    color: $tertiary-color;
    border-radius: 6px;
    text-align: center;
    svg {
      width: 120px;
      height: 120px;
      margin: 16px 0;
      @media screen and ($mobile) {
        width: 80px;
        height: 80px;
      }
      path, stroke, rect {
        fill: $tertiary-color
      }
    }
  }
  .info, .tags {
    padding-bottom: 8px;
    span {
      font-size: 11px;
      color: $support-color;
    }
  }
}
