.form-control {
  position: relative;
}

auto-complete {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  background: $tertiary-color;
  .list {
    max-height: get-vh(190px);
    padding: 0 10px;
    overflow: scroll;
    box-sizing: border-box;
  }
  button {
    display: flex;
    margin: 0;
    padding: 0;
    background: none;
    p {
      color: $primary-color;
    }
    &:focus {
      img, p {
        transform: scale(1.1);
      }
      p {
        color: $accent-color;
      }
    }
  }
  img, p {
    margin: 10px 0 10px get-vw(20px);
    align-self: center;
  }
  img {
    width: 40px;
    height: 40px;
    &.active {
      border: 3px solid $success-color;
    }
    &.inactive {
      border: 3px solid $support-color;
    }
  }
}
