.voice-chat {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-flow: row-reverse nowrap;
  .phone {
    position: relative;
    align-self: center;
    cursor: pointer;
    span {
      display: block;
      text-align: center;
      color: $support-color;
      font-size: 11px;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left:0;
    }
  }
  svg {
    width: 30px;
    height: 30px;
    margin: 0 get-vw(15px);
    path {
      stroke: $tertiary-color;
    }
  }
  .peers {
    display: flex;
    flex-flow: row wrap;
    img {
      width: get-vw(50px);
      height: get-vw(50px);
      margin: get-vw(15px);
      border-radius: 100%;
    }
  }
}
