/**
 * Variables
 */

$primary-color: #39393A;
$secondary-color: lighten($primary-color, 8%);
$tertiary-color: #FFFCF9;
$support-color: #B8B4A6;
$accent-color: #2196F3;
$warn-color: #D33F49;
$success-color: #5EF38C;

//$primary-color: #444140;
//$secondary-color: #3F51B5;
//$support-color: #646564;
//$accent-color: #5BC0EB;
//$warn-color: #D33F49;
//$success-color: #5EF38C;
//$gradient-color: linear-gradient(90deg, $secondary-color, $primary-color 60%);

$tablet: "max-width: 1024px";
$mobile: "max-width: 776px";

/**
 * Mixins & Functions
 */

@function get-vw($target) {
  $vw-context: (1000*.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

@function get-vh($target) {
  $vh-context: (1000*.01) * 1px;
  @return ($target/$vh-context) * 1vh;
}

@mixin fade-stagger {
  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      animation: fade .4s .1s * $i infinite linear;
    }
  }
}

@mixin responsive-font($init, $scaled) {
  font-size: $init;
  @media screen and ($tablet) {
    font-size: $scaled;
  }
}

@mixin responsive-window($bg) {
  position: relative;
  height: 100vh;
  background: $bg;
}

@mixin align-hack {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin randomizer($multiple, $lum) {
  @for $i from 1 through 110 {
    &:nth-child(#{$i}) {
      background: hsl($multiple * $i, 100%, $lum);
    }
  }
}

@mixin vw($base-size, $break-size, $breakpoint) {
  font-size: get-vw($base-size);
  letter-spacing: -1px;
  @media screen and ($breakpoint) {
    font-size: $break-size;
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/**
 * App-wide Styles
 */

* {
  box-sizing: border-box;
}

html {
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  max-width: 100%;
  height: 100%;
  background: $tertiary-color;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  letter-spacing: 1px;
  color: $primary-color;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  @media screen and ($mobile) {
    padding-bottom: 44px;
  }
}

::-webkit-scrollbar {
  display: none;
}

input, textarea {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  background: $tertiary-color;
  &::placeholder {
    color: $support-color;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.25;
  outline: none;
}

h1 {
  font-size: get-vw(100px);
}

h2 {
  font-size: get-vw(75px);
}

h3 {
  @include vw(40px, 26px, $tablet);
}

h4 {
  @include vw(29px, 22px, $tablet);
}

h5 {
  @include vw(21px, 20px, $tablet);
}

h6 {
  @include vw(14px, 13px, $tablet);
}

p, i, span, a, label, input, textarea {
  @include responsive-font(16px, 12px);
  line-height: 1.25;
  color: $primary-color;
}

a {
  color: $accent-color;
  text-decoration: none;
  font-weight: 400;
  word-break: break-word;
  &:hover {
    color: darken($accent-color, 18%);
  }
}

button {
  @include responsive-font(14px, 14px);
  margin: 8px 0;
  padding: 24px 64px;
  background: $accent-color;
  border-radius: 2px;
  color: white;
  border: none;
  outline: none;
  font-weight: 200;
  cursor: pointer;
  box-sizing: border-box;
  &[disabled] {
    background: $support-color;
  }
  &:focus {
    transform: scale(1.2);
  }
  @media screen and ($mobile) {
    margin: get-vw(20px);
    padding: get-vw(20px) get-vw(60px);
  }
}

blockquote {
  padding-left: 8px;
  border-left: 4px solid $support-color;
  p {
    color: $primary-color;
  }
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

.markdown-body {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 700;
    line-height: 1.25;
    outline: none;
  }
  p, span, li  {
    @include responsive-font(16px, 12px);
    line-height: 1.25;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    letter-spacing: 1px;
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: upper-roman;
  }
}

.loader, .loader:before, .loader:after {
  width: get-vw(10px);
  height: 0;
  background: $accent-color;
  opacity: 0;
  animation-fill-mode: both;
  animation: loading 1.8s infinite ease-in-out;
}

.loader {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  animation-delay: 0.16s;
  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
  }
  &:before {
    left: get-vw(-20px);
  }
  &:after {
    left: get-vw(20px);
    animation-delay: 0.32s;
  }
}

/**
 * Keyframes
 */

@keyframes loading {
  0%,
  80%,
  100% {height: get-vw(20px); opacity: 1;}
  40% {height: 0; opacity: 0;}
}

@keyframes slide-in {
  0% {transform: translateX(-100%);}
  100% {transform: translateX(0);}
}

// Component imports
@import 'components/signup';
@import 'components/editField';
@import 'components/dash';
@import 'components/nav';
@import 'components/statusBar';
@import 'components/directMessages';
@import 'components/groupMessages';
@import 'components/toggleSwitch';
@import 'components/notifications';
@import 'components/requests';
@import 'components/profileDetails';
@import 'components/creation';
@import 'components/upload';
@import 'components/oauth';
@import 'components/search';
@import 'components/reputation';
@import 'components/answer';
@import 'components/answers';
@import 'components/owner';
@import 'components/tabs';
@import 'components/board';
@import 'components/voiceChat';
@import 'components/usersList';
@import 'components/presentUsers';
@import 'components/userActivity';
@import 'components/comments';

// View imports
@import 'views/landing';
@import 'views/profile';
@import 'views/create';
@import 'views/team';
@import 'views/learning';
@import 'views/question';
@import 'views/project';
@import 'views/start';
@import 'views/error';
