<div class="signup">
  <div class="hero-unit">
    <a class="login-button" routerLink="/login">Login</a>
    <signup></signup>
    <!--<register></register> -->
  </div>
  <div class="selling-points">
    <div class="points">
      <div class="point">
        <span>
          <svg-icon [icon]="'/assets/icons/timer42.svg'"></svg-icon>
        </span>
        <h4>Real-time full feature communication</h4>
        <p>Working and learning happen in real-time. Why shouldn't your communications?</p>
      </div>
      <div class="point">
        <span>
          <svg-icon [icon]="'/assets/icons/notebook91.svg'"></svg-icon>
        </span>
        <h4>Limited team sizes</h4>
        <p>Keeping a small circle of collaborators improves the common goal of completing what you set out to accomplish.</p>
      </div>
      <div class="point">
        <span>
          <svg-icon [icon]="'/assets/icons/user7.svg'"></svg-icon>
        </span>
        <h4>Easily join, leave, and create teams</h4>
        <p>With the freedom and opportunity to choose who you work with comes the responsibility to do your best.</p>
      </div>
      <div class="point">
        <span>
          <svg-icon [icon]="'/assets/icons/flask-purp.svg'"></svg-icon>
        </span>
        <h4>Collaborative contributions voting</h4>
        <p>Your peers are important. Their praise or disdain decide whether you have what it takes to make others better.</p>
      </div>
    </div>
    <div class="download">
        <a href="/assets/files/mesh-1.0.0-mac.zip" download>
          <button class="mac">
            <svg-icon [icon]="'/assets/icons/apple.svg'"></svg-icon>
            Try the macOS app
          </button>
        </a>
    </div>
    <div class="quote">
      <h2>"I had a thirst for knowledge. Mesh quenched it!"</h2>
      <p>&copy; MESH | 2017</p>
    </div>
  </div>
</div>
