<div class="team-page" *ngIf="team.id">
  <header [ngStyle]="{ 'background-image': !team.cover_url ? '' : 'url(' + team.cover_url + ')' }">
    <figure class="loader" *ngIf="shouldHide(team.cover_url)"></figure>
    <upload *ngIf="team.id == currentUser.team_id"
            [hidden]="shouldHide(team.cover_url)"
            allowed="image/*"
            kind="team" (path)="team.cover_url = $event">
    </upload>
    <div class="team-callout">
      <p>Team</p>
      <h4>{{ team.name }}</h4>
    </div>
  </header>
  <div class="roster">
    <ul>
      <li *ngFor="let teammate of team.teammates | slice:0:numShowing">
        <div class="teammate">
          <img [class]="teammate.active ? 'online' : 'offline'" [src]="teammate.avatar_url" />
          <a class="handle" routerLink="/D/profile/{{ teammate.handle }}">
            {{ teammate.handle }}
          </a>
          <p class="description">{{ teammate.description }}</p>
          <span class="last-seen" *ngIf="!teammate.active">last seen: {{ teammate.updated_at | moment }}</span>
        </div>
      </li>
    </ul>
  </div>
  <p class="show-more" *ngIf="team.teammates.length > 5" (click)="onShowMore()">Show {{ numShowing == 5 ? 'More' : 'Less' }}</p>
</div>
