<div class="create">
  <header>
    <h3>Create One of the Following</h3>
    <div class="learn">
      <a routerLink="/D/create/question" routerLinkActive="active">Question</a>
    </div>
    <div class="build">
      <a routerLink="/D/create/project" routerLinkActive="active">Project</a>
    </div>
    <div class="team">
      <a routerLink="/D/create/team" routerLinkActive="active">Team</a>
    </div>
  </header>
  <router-outlet></router-outlet>
</div>

