<navigation [currentUser]="currentUser"
            [links]="links">
</navigation>
<status-bar [currentUser]="currentUser"
            [collapsed]="true">
</status-bar>
<div class="question-page">
  <div class="question">
    <reputation [currentUser]="currentUser"
                [rep]="question.rep">
    </reputation>
    <div class="question-body">
      <h3 [hidden]="editing">{{ question.title }}</h3>
      <div [hidden]="editing" class="markdown-body"
           [innerHTML]="question.description | markdown | mention">
      </div>
      <svg-icon [icon]="'/assets/icons/edit.svg'"
                [hidden]="currentUser.id !== question.owner_id || editing"
                (click)="editing = !editing">
      </svg-icon>
      <edit [item]="question"
            key="title"
            [hidden] ="!editing"
            (handler)="question.title = $event.title">
      </edit>
      <edit [item]="question"
            key="description"
            [textarea]="true"
            [hidden] ="!editing"
            (handler)="question.description = $event.description">
      </edit>
      <div class="live-preview markdown-body" [hidden]="!editing"
           [innerHTML]="question.description | markdown">
      </div>
      <button [hidden]="!editing"
              (click)="handleEdit()"
              class="send" type="submit">
        Save
      </button>
      <owner [item]="question">
      </owner>
    </div>
  </div>
  <answer [question]="question"
          [currentUser]="currentUser">
  </answer>
  <answers [currentUser]="currentUser"
           [answersArray]="question.answers">
  </answers>
</div>
<direct-messenger *ngIf="openThreads.length > 0"
                  [currentUser]="currentUser"
                  [users]="openThreads">
</direct-messenger>
