<div class="profile">
  <header [ngStyle]="{ 'background-image': !user.cover_url ? '' : 'url(' + user.cover_url + ')' }">
    <figure class="loader" *ngIf="shouldHide(user.cover_url)"></figure>
    <upload *ngIf="user.id == currentUser.id"
            [hidden]="shouldHide(user.cover_url)"
            allowed="image/*"
            kind="cover" (path)="user.cover_url = $event">
    </upload>
    <div class="team-callout" *ngIf="user.team">
      <p>Member of</p>
      <a routerLink="/D/team/{{ user.team.id }}">
        <h4>{{ user.team.name }}</h4>
      </a>
    </div>
    <div class="avatar">
      <img *ngIf="user.avatar_url; else loader" [src]="user.avatar_url" />
      <ng-template #loader>
        <figure class="loader"></figure>
      </ng-template>
      <upload *ngIf="user.id == currentUser.id"
              [hidden]="shouldHide(user.avatar_url)"
              allowed="image/jpeg,image/png"
              kind="avatar" (path)="onChangeAvatar($event)">
      </upload>
    </div>
  </header>
  <div class="grid">
    <div class="info-col">
      <requests [user]="user"
                [currentUser]="currentUser"
                [request]="request">
      </requests>
      <profile-details [user]="user"
                       [editable]="user.id == currentUser.id">
      </profile-details>
    </div>
    <activity [user]="user"></activity>
  </div>
</div>
