<header>
  <h3>Building</h3>
  <p>
  What you and your team are building
  </p>
</header>
<ul class="items" *ngIf="projects.length > 0; else noProjects"
    #projectsContainer
    masonry
    infiniteScroll
    [scrollWindow]="false"
    [infiniteScrollDistance]="1"
    [infiniteScrollThrottle]="500"
    [infiniteScrollContainer]="projectsContainer"
    [infiniteScrollDisabled]="done"
    (scrolled)="onScrolled()">
  <li class="item" *ngFor="let project of projects">
    <reputation [currentUser]="currentUser"
                [rep]="project.rep">
    </reputation>
    <div class="info">
      <a  routerLink="/P/{{ project.id }}">
        <h5>{{ project.title }}</h5>
      </a>
      <p class="description markdown-body" [innerHTML]="project.description | markdown | mention"></p>
      <span class="tags">tagged: {{ project.tags }}</span>
      <owner [item]="project"></owner>
    </div>
  </li>
  <figure class="loader" *ngIf="infiniteScroll.busy"></figure>
</ul>
<ng-template #noProjects>
  <p class="prompt">
    <svg-icon [icon]="'/assets/icons/notebook91.svg'"></svg-icon>
    <em>{{ !currentUser.team_id ? 'You are not building anything yet' : 'Nobody on ' + currentUser.team.name + 'is building anything yet' }}</em>
    <br />
    Create a <a routerLink="/D/create/project">project</a> to build something with your team
  </p>
</ng-template>
