.create {
  width: 100%;
  header {
    display: flex;
    flex-flow: row wrap;
    padding: 8px 16px;
  }
  h3 {
    width: 100%;
    color: $primary-color;
  }
  .team, .learn, .build {
    padding: 8px;
  }
  a.active {
    border-bottom: 3px solid $accent-color;
  }
  p {
    padding-left: 8px;
    align-self: center;
  }
  @media screen and ($mobile) {
    p {
      margin: 0 8px;
    }
  }
}
