// error-page {
//   height: 100%;
//   padding: 8px 5%;
//   overflow-y: scroll;
  // @media screen and ($mobile) {
  //   padding: 8px 0;
  // }
// }

// h3 { 
// 	margin-top: 10%; 
// }

// .wrapper, .message404 {
// 	padding: 58px 0;
// 	text-align: center;
// }

// .message404 {
// 	display: inline-block;
// 	background: $warn-color;
// 	margin: 8px auto;
//   padding: 70px;
// }

// .message404 > p {
// 	color: #FFFFFF;
// }