.hero-unit {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: $secondary-color;
  .login-button, .signup-button {
    position: fixed;
    top: 8px;
    right: 8px;
    padding: 24px 40px;
    border: 3px solid $tertiary-color;
    border-radius: 3px;
    color: white;
    z-index: 1000;
    @media screen and ($mobile) {
      top: 0;
      left: 0;
      width: 100%;
      padding: 16px 40px;
      text-align: right;
      border: none;
      border-radius: 0;
      background: $accent-color;
    }
  }
}

.selling-points {
  background: $primary-color;
  .point {
    padding: 16px 0;
    text-align: center;
    h4, p {
      color: white;
    }
    p {
      margin: 0 40px;
    }
    span {
      display: block;
      margin: 0 auto 16px;
      padding: 24px;
      width: 120px;
      height: 120px;
      background: white;
      border-radius: 100%;
      box-sizing: border-box;
      color: $primary-color;
      svg-icon, svg {
        width: 100%;
        height: 100%;
        path, circle, rect {
          fill: $primary-color;
        }
      }
    }
  }
}

.download {
  display: flex;
  justify-content: center;
  padding: 64px 32px;
  background: $support-color;
  a {
    align-self: center;
  }
  button {
    background: $primary-color;
  }
  svg path {
    fill: $tertiary-color;
  }
}

.quote {
  padding: 40px 24px 40px;
  background: $accent-color;
  h2, p {
    color: white;
    text-align: center;
    line-height: 1.25;
  }
  p {
    margin-top: 24px;
  }
}
