learning-page, building-page {
  position: relatve;
  header {
    padding: 16px;
  }
}

.prompt {
  @include align-hack;
  padding: 64px;
  color: $tertiary-color;
  background: $warn-color;
  text-align: center;
  svg {
    width: 120px;
    height: 120px;
    margin: 16px 0;
    path, stroke, rect {
      fill: $tertiary-color
    }
  }
}

.items {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  .loader {
    position: fixed;
    top: 95%;
    left: 50%;
  }
}

.item {
  display: flex;
  width: 33.33333%;
  padding: 8px 0;
  transition: all .2s ease-in-out;
  @media screen and ($mobile) {
    width: 100%;
  }
  p {
    color: $primary-color;
  }
  reputation {
    width: 15%;
  }
  .info {
    width: 75%;
    text-overflow: ellipsis;
    h4 {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .updated-at {
    width: 100%;
    color: $secondary-color;
  }
  .tags {
    font-size: 13px;
    color: $support-color;
  }
}
