.profile {
  width: 100%;
  margin: 0 auto;
  header {
    position: relative;
    height: get-vh(450px);
    background-color: $support-color;
    background-position: center;
    background-size: cover;
    &:hover upload:nth-child(1){
      visibility: visible;
    }
    upload {
      position: absolute;
      visibility: hidden;
      top: 5%;
      right: 5%;
      input:before {
        background: url('/assets/icons/camera3.svg') $primary-color no-repeat center/cover;
      }
    }
    .team-callout {
      @include align-hack;
      padding: get-vw(40px) get-vw(60px);
      background: rgba($primary-color, .5);
      color: white;
      text-align: center;
    }
    .avatar {
      @include align-hack;
      position: absolute;
      top: 100%;
      left: 10%;
      width: get-vw(120px);
      height: get-vw(120px);
      @media screen and ($mobile) {
        width: 90px;
        height: 90px;
        left: 15%;
      }
      &:hover upload:nth-child(2) {
        visibility: visible;
      }
      img {
        width: 100%;
        height: 100%;
      }
      .loader {
        top: 50%;
      }
      upload {
        top: 3%;
        left: 3%;
        right: auto;
      }
    }
  }
  .grid {
    display: flex;
    @media screen and ($mobile) {
      flex-direction: column;
    }
    .info-col {
      width: 24%;
      margin-top: 16px;
      @media screen and ($mobile) {
        margin-top: 32px;
        width: 100%;
      }
    }
    activity {
      width: 76%;
      @media screen and ($mobile) {
        width: 100%;
      }
    }
  }
}
