.project-page {
  width: 100%;
  height: 100%;
  padding-top: get-vh(85px);
  background: $secondary-color;
  overflow: scroll;
  direct-messenger {
    position: absolute;
    bottom: 0;
    right: 2vw;
    .direct-messages {
      display: flex;
    }
    @media screen and ($mobile) {
      width: 100%;
      left: 0;
    }
  }
  .project-info {
    display: flex;
    width: 100%;
    height: 15%;
    background: $secondary-color;
    overflow: scroll;
    @media screen and ($mobile) {
      height: 20%;
    }
    h5, p {
      color: $tertiary-color;
    }
    reputation, .details, owner, voice-chat {
      margin: 0 1px;
      align-self: center;
      @media screen and ($mobile) {
        align-self: flex-start;
      }
    }
    reputation {
      width: 5%;
      @media screen and ($mobile) {
        width: 10%;
      }
    }
    owner {
      padding: 16px;
    }
    voice-chat {
      flex: 3 0 auto;
      padding: 8px;
      @media screen and ($mobile) {
        align-self: flex-end;
      }
    }
    .details {
      width: 40%;
      padding: 8px;
      align-self: center;
      @media screen and ($mobile) {
        width: 20%;
      }
    }
  }
  .view {
    display: flex;
    width: 100%;
    min-width: 85%;
    height: 85%;
    @media screen and ($tablet) {
      height: 80%;
    }
    group-message, board {
      width: 80%;
      height: 100%;
      @media screen and ($tablet) {
        width: 65%;
      }
    }
    .sidebar {
      width: 20%;
      height: 100%;
      padding: 8px;
      overflow-y: scroll;
      @media screen and ($tablet) {
        width: 35%;
      }
      .markdown-body {
        padding: 8px;
        h1, h2, h3, h4 ,h5, p, li {
          color: $tertiary-color;
        }
      }
    }
  }
}
