question-page {
  display: flex;
  padding-top: get-vh(85px);
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  direct-messenger {
    position: absolute;
    bottom: 0;
    right: 2vw;
    .direct-messages {
      display: flex;
    }
    @media screen and ($mobile) {
      width: 100%;
      left: 0;
    }
  }
}

.question-page {
  width: 100%;
  min-width: 80%;
  height: 100%;
  padding: 0 5%;
  overflow-y: scroll;
  .question {
    display: flex;
    margin: 48px 0;
    reputation {
      width: 15%;
    }
    .question-body {
      width: 85%;
    }
    textarea {
      height: 30vh;
    }
  }
  svg-icon, .svg {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
  .reputation {
    color: $primary-color;
  }
}


