start-page {
  height: 100%;
  padding: 8px 5%;
  overflow-y: scroll;
  @media screen and ($mobile) {
    padding: 8px 0;
  }
}

.welcome {
  padding: 16px 0;
  text-align: center;
}

.caveats {
  padding: 58px 0;
  text-align: center;
  h4, p {
    margin: 8px 0;
  }
}

.notes {
  display: inline-block;
  margin: 64px auto;
  padding: 48px;
  list-style: disc;
  text-align: left;
  background: $warn-color;
  color: $tertiary-color;
  border-radius: 4px;
  li {
    margin-left: 48px;
    padding: 8px 0;
  }
}

.faq {
  padding: 40px 0;
}

.overview, .goals {
  padding: 16px;
}
