.team-page {
  width: 100%;
  margin: 0 auto;
  header {
    position: relative;
    height: get-vh(500px);
    background-color: $support-color;
    background-position: center;
    background-size: cover;
    &:hover upload:nth-child(1){
      visibility: visible;
    }
    upload {
      position: absolute;
      visibility: hidden;
      top: 8%;
      right: 8%;
      input:before {
        background: url('/assets/icons/camera3.svg') $secondary-color no-repeat center/cover;
      }
    }
    .team-callout {
      @include align-hack;
      padding: get-vw(40px) get-vw(60px);
      background: rgba($primary-color, .5);
      color: white;
      text-align: center;
    }
  }
  .roster {
    margin: get-vw(20px) 0;
    ul {
      display: flex;
      width: 100%;
      flex-flow: row wrap;
      justify-content: center;
    }
    li {
      display: flex;
      width: 30%;
      margin: get-vw(10px) 0;
      justify-content: center;
      &:nth-child(4n), &:nth-child(5n) {
        width: 50%;
      }
      @media screen and ($tablet) {
        width: 50%;
      }
    }
    p {
      color: $primary-color;
    }
    img {
      width: get-vw(80px);
      height: get-vw(80px);
      border-radius: 100%;
      box-sizing: border-box;
      &.online {
        border: 4px solid $success-color;
      }
      &.offline {
        border: 4px solid lighten($support-color, 28%);
      }
      @media screen and ($tablet) {
        width: 80px;
        height: 80px;
      }
    }
    .handle {
      text-align: center;
      font-weight: 700;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .description {
      width: 100%;
      margin: get-vw(5px) 0;
    }
    .last-seen {
      color: $support-color;
      font-size: 11px;
    }
  }
}

.show-more {
  text-align: center;
  font-weight: 300;
  cursor: pointer;
}
