<div class="welcome">
  <h2>Welcome</h2>
  <p><strong>We're glad you made it to an early version of Mesh 💯</strong></p>
</div>
<div class="caveats">
  <h4>Because you've made it here so early 😻</h4>
  <p><em>There are a few things to note</em></p>
  <ul class="notes">
    <li>Currently this page stands as a guide to Mesh</li>
    <li>In the future a feed of activity and contributions on Mesh will live here</li>
    <li>At this point <strong>search is your best friend</strong>(hint: try searching for mesh)</li>
  </ul>
</div>
<div class="faq">
  <h2>FAQ</h2>
  <div class="overview markdown-body" [innerHTML]="overview | markdown">
  </div>
  <div class="goals markdown-body" [innerHTML]="goals | markdown">
  </div>
</div>
