<header>
  <h3>Learning</h3>
  <p>
  {{ !currentUser.team_id ? 'What you are learning' : 'What you and your team are learning' }}
  </p>
</header>
<ul class="items" *ngIf="questions.length > 0; else noQuestions"
    #questionsContainer
    masonry
    infiniteScroll
    [scrollWindow]="false"
    [infiniteScrollDistance]="1"
    [infiniteScrollThrottle]="500"
    [infiniteScrollContainer]="questionsContainer"
    [infiniteScrollDisabled]="done"
    (scrolled)="onScrolled()">
  <li class="item" *ngFor="let question of questions">
    <reputation [currentUser]="currentUser"
                [rep]="question.rep">
    </reputation>
    <div class="info">
      <a  routerLink="/Q/{{ question.id }}">
        <h5>{{ question.title }}</h5>
      </a>
      <div class="description markdown-body" [innerHTML]="question.description | markdown"></div>
      <span class="tags">tagged: {{ question.tags }}</span>
      <owner [item]="question"></owner>
    </div>
  </li>
  <figure class="loader" *ngIf="infiniteScroll.busy"></figure>
</ul>
<ng-template #noQuestions>
  <p class="prompt">
  <svg-icon [icon]="'/assets/icons/speech-bubble20.svg'"></svg-icon>
  <em>{{ !currentUser.team_id ? 'You are not learning anything yet' : 'Nobody on ' + currentUser.team.name + 'is learning anything yet' }}</em>
  <br />
  Create a <a routerLink="/D/create/question">question</a> to learn something new
  </p>
</ng-template>
