<navigation [currentUser]="currentUser">
</navigation>
<div class="project-page">
  <div class="project-info">
    <reputation [currentUser]="currentUser"
                [rep]="project.rep">
    </reputation>
    <owner [item]="project">
    </owner>
    <div class="details">
      <h5>{{ project.title }}</h5>
    </div>
    <voice-chat [currentUser]="currentUser"
                [project]="project">
    </voice-chat>
  </div>
  <div class="view">
    <status-bar [currentUser]="currentUser"
                [collapsed]="true">
    </status-bar>
    <group-message></group-message>
    <div class="sidebar">
      <present-users [currentUser]="currentUser"
                     [project]="project">
      </present-users>
      <div class="markdown-body" [innerHTML]="project.description | markdown"></div>
    </div>
  </div>
  <direct-messenger *ngIf="openThreads.length > 0"
                    [currentUser]="currentUser"
                    [users]="openThreads">
  </direct-messenger>
</div>
